.dashboard {
    background-color: #f4f6f8; // Cor de fundo leve para o dashboard

  }
  
  .chartSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  
    .chartContainer {
      min-height: 500px;
      width: 100%;
      max-width: 800px;
      height: 100%;
      background-color: #e9ecef; // Placeholder do gráfico
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .chartPlaceholder {
      font-size: 1.25rem;
      color: #6c757d;
    }
  }
  